.env
.venv

*.pyc


.idea/*
__pycache__/*
*.egg
*.log
*.db
*.sqlite
*.sqlite3

*.DS_Store
*.ipynb_checkpoints
*.coverage
*.mypy_cache/
*.pytest_cache
*.hypothesis/
*.coverage.*
*.tox/
*.coverage.*        

*.env

database.sqlite

scripts/